<phpunit bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="Functional">
            <file>tests/src/FunctionalTest/BitrixEnvironmentTest.php</file>
            <file>tests/src/FunctionalTest/EntityMapTest.php</file>
            <file>tests/src/FunctionalTest/SchemaBuilderTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
