<phpunit bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="Functional">
            <file>tests/src/FunctionalTest/BitrixEnvironmentTest.php</file>
            <file>tests/src/FunctionalTest/EntityMapTest.php</file>
            <file>tests/src/FunctionalTest/SchemaBuilderTest.php</file>
            <file>tests/src/FunctionalTest/SelectTest.php</file>
            <file>tests/src/FunctionalTest/EntityMapperTest.php</file>
        </testsuite>
        <testsuite name="Unit">
            <file>tests/src/UnitTest/EntityMapperTest.php</file>
            <file>tests/src/UnitTest/SchemaBuilderTest.php</file>
            <file>tests/src/UnitTest/Annotation/Property/FieldTest.php</file>
            <file>tests/src/UnitTest/Map/EntityMapTest.php</file>
            <file>tests/src/UnitTest/Query/RawResultTest.php</file>
            <file>tests/src/UnitTest/Query/SelectTest.php</file>
            <file>tests/src/UnitTest/Query/DataBuilderTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
