name: PHPUnit
on: [push]
jobs:
  PHPUnit:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        PHP: ["5.6", "7.0", "7.1", "7.2", "7.3", "7.4"]
        Bitrix: ["18.5", "19.0", "20.0"]
        exclude:
          - PHP: "5.6"
            Bitrix: "20.0"
          - PHP: "7.0"
            Bitrix: "20.0"
    container:
      image: webdevops/php-dev:${{ matrix.PHP }}
      env:
        MYSQL_HOST: mysql
        MYSQL_DATABASE: entity-mapper
        MYSQL_USER: entity-mapper
        MYSQL_PASSWORD: entity-mapper
    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_RANDOM_ROOT_PASSWORD: "yes"
          MYSQL_DATABASE: entity-mapper
          MYSQL_USER: entity-mapper
          MYSQL_PASSWORD: entity-mapper
    steps:
      - name: Checkout source
        uses: actions/checkout@v1

      - name: Set up environment
        run: |
          echo 'short_open_tag=1' >> /opt/docker/etc/php/php.ini
          echo 'mbstring.func_overload=2' >> /opt/docker/etc/php/php.ini
          cat /opt/docker/etc/php/php.ini

      - name: Install dependencies
        run: composer install --no-ansi --no-interaction --no-suggest --no-progress --prefer-dist

      - name: Install Bitrix CI
        run: composer require sheerockoff/bitrix-ci:${{ matrix.Bitrix }} --dev --no-ansi --no-interaction --no-suggest --no-progress --prefer-dist

      - name: Run PHPUnit tests
        run: vendor/bin/phpunit --whitelist src/ --coverage-text --coverage-clover clover.xml

      - name: Upload coverage to https://scrutinizer-ci.com
        run: |
          wget -nv https://scrutinizer-ci.com/ocular.phar
          php ocular.phar code-coverage:upload --format=php-clover clover.xml
